#projects-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -3;
    background-color: green;
}
.projects {
    flex-wrap: wrap;
}
.project {
    height: 120px;
    width: 120px;
    border: 2px solid black;
}
