#about-wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    // set z-index: < -100 since -100 used by parallax-mirror
    z-index: -200;
    background-color: #1c3e43;
}
.skill-levels {
    width: 100%;
    position: relative;
    margin: auto;
    top: 0;
    border: 1px solid green;
}
// Profile frame
.hexagon {
    // width: 800px;
    height: 250px;
    background: red;
    @include transform-rotate(120deg);
    margin-left: -150px;
    overflow: hidden;
    visibility: hidden;
    .hexagon-inside {
        width: 100%;
        height: 100%;
        background: green;
        @include transform-rotate(-60deg);
        overflow: hidden;
    }
    .hexagon-me {
        width: 100%;
        height: 100%;
        background-image: url('~profile');
        background-position: center;
        background-size: 20% 50%;
        // background-repeat: no-repeat;
        @include transform-rotate(-60deg);
        visibility: visible;
    }
}
