#about-wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    // set z-index: < -100 since -100 used by parallax-mirror
    z-index: -200;
    background-color: #1c3e43;
}
.header {
    display: block;
}
.skills {
    display: block;
}
.profile {
    border: 1px solid red;
    display: inline-block;
    width: 50%;
    position: absolute;
    left: 0;
    // Profile frame
    .hexagon {
        height: 200px;
        width: 400px;
        margin: 0 auto;
        background: red;
        @include transform-rotate(120deg);
        overflow: hidden;
        visibility: hidden;
        .hexagon-inside {
            width: 100%;
            height: 100%;
            background: green;
            @include transform-rotate(-60deg);
            overflow: hidden;
        }
        .hexagon-me {
            width: 100%;
            height: 100%;
            background-image: url('~profile');
            background-position: 50% 15%;
            background-size: 400px 400px;
            @include transform-rotate(-60deg);
            visibility: visible;
        }
    }
}
.skill-levels {
    display: inline-block;
    position: absolute;
    width: 50%;
    margin: auto;
    right: 0;
    border: 1px solid green;
}
