.container {
    height: 100vh;
    box-sizing: border-box;
    border: 4px solid cyan;
    position: relative;
    @include for-phone-only { padding: 70px 0; }
    align-items: center;
    justify-content: center;
}
.flex {
    display: flex;
    // border: 4px solid cyan;
}
.flex.col { flex-direction: column; }
