html, body {
    margin: 0;
    padding: 0;
}
html {
    // standardize font across browsers
    font-size: 16px;
    width: 100%;
    // allows scrolling
    height: 300vh;
}
body {
    font-family: 'Raleway', sans-serif;
    // set context of body to roughly 10px font-size (16 html * 0.625 body = 10px body)
    // convert to ems (target/context = result). Ex: h1 is 48px, 48/10 = 4.8
    font-size: 62.5%;
    text-align: center;
}
body::-webkit-scrollbar {
    display: none;
}
