// mixins for media queries
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

// mixins for browser support
@mixin transform-rotate($degree) {
    -webkit-transform: rotate($degree);
    -moz-transform: rotate($degree);
    -ms-transform: rotate($degree);
    -o-transform: rotate($degree);
    transform: rotate($degree);
}
// animation: name duration timing-function delay iteration-count direction fill-mode play-state;
@mixin animation($animationProps...) {
    -webkit-animation: $animationProps;
    -moz-animation: $animationProps;
    -ms-animation: $animationProps;
    -o-animation: $animationProps;
    animation: $animationProps;
}
@mixin keyframes($animationName) {
    @-webkit-keyframes #{ $animationName } { @content; }
    @-moz-keyframes #{ $animationName } { @content; }
    @-ms-keyframes #{ $animationName } { @content; }
    @-o-keyframes #{ $animationName } { @content; }
    @keyframes #{ $animationName } { @content; }
}
@mixin transform($transformProp) {
    -webkit-transform: $transformProp;
    -moz-transform: $transformProp;
    -ms-transform: $transformProp;
    -o-transform: $transformProp;
    transform: $transformProp;
}
